<hr />
<div class="container">
    <div class="pull-right">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="searchName">Email address</label>
                <input type="text" class="form-control" id="searchName" placeholder="Enter Search Text">
            </div>
            <button type="submit" class="btn btn-success" id="searchEmpls">Search</button>
        </form>
    </div>
</div>