<div class="container">
    <div style="margin-top: 20px" class="col-md-6">
        @using (Ajax.BeginForm("Search", "Employees",
                                                new AjaxOptions
                                                {
                                                    InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = "POST",
                                                    LoadingElementId = "loadingBar",
                                                    LoadingElementDuration = 1000,
                                                    UpdateTargetId = "resultSearch",
                                                }))

        {
            //ajax-loader.gif
            <form class="form-group">
                <div class="form-group row">
                    <label class="form-control-label" for="text">Введите имя сотрудника: </label>
                    <input id="text" type="text" name="surname" placeholder="Имя" class="form-control" />
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <img id="loadingBar" src="@Url.Content("../Content/loading2.gif")" style="display:none" />
                </div>
            </form>
            <div id="resultSearch"></div>
        }
        
    </div>
</div>
