@model IEnumerable<BusinessTrips.Models.Employee>

<div id="searchingEmpls">
    <h1>Все сотрудники в коммандировке : @Model.First().DutyJourneys</h1>
    <ul>
        @foreach (var item in Model)
        {


            <li>  @item.Surname</li>


        }

    </ul>
</div>